/* 
COMO LLAMAR A LAS FUENTES AGREGADAS
font-family: 'Ubuntu', sans-serif; 
*/

/*
CONVENCIONALIDADES: COSAS EN LAS QUE TODOS LOS DESARROLLADORES SE HAN PUESTO DE ACUERDO

-> ORDEN EN EL QUE SE APLICAN LOS ESTILOS
    1. Todo lo relacionado con posicionamiento
    2. Todo lo que tiene que ver con el modelo de caja (BOX MODEL)
    3. Todolo que tiene que ver con tipografia 
        fuente
        tamaño de fuente
        tipo de fuente
    4. Temas visuales
        shadow box
        border redius
    5. Otros (miselanius)
*/

:root{
    /* colores */
    --bitcoin-orange: #f7931a;
    --soft-orange: #ffe9d5;
    --secondary-blue: #1a9af7;
    --soft-blue: #e7f5ff;
    --warm-black: #282623;
    --black: #201e1c;
    --off-white: #faf8f7;
    --just-white: #fff;
    --grey: #bababa;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
    font-family: 'Ubuntu', sans-serif;
}
