/* 
COMO LLAMAR A LAS FUENTES AGREGADAS
font-family: 'Ubuntu', sans-serif; 
*/

/*
CONVENCIONALIDADES: COSAS EN LAS QUE TODOS LOS DESARROLLADORES SE HAN PUESTO DE ACUERDO

-> ORDEN EN EL QUE SE APLICAN LOS ESTILOS
    1. Todo lo relacionado con posicionamiento
    2. Todo lo que tiene que ver con el modelo de caja (BOX MODEL)
    3. Todolo que tiene que ver con tipografia 
        fuente
        tamaño de fuente
        tipo de fuente
    4. Temas visuales
        shadow box
        border redius
    5. Otros (miselanius).


*/

            /* PLANTILLA */
/* 1.Position */
/* 2.Typography */
/* 3.box-model */
/* 4.visual styles */
/* 5.Otros */

:root{
    /* colores */
    --bitcoin-orange: #f7931a;
    --soft-orange: #ffe9d5;
    --secondary-blue: #1a9af7;
    --soft-blue: #e7f5ff;
    --warm-black: #282623;
    --black: #201e1c;
    --off-white: #faf8f7;
    --just-white: #fff;
    --grey: #bababa;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
    font-family: 'Ubuntu', sans-serif;
}

header{
/* 1.Posit - 2.Tipogra - 3.box-m - 4.visual - 5.Otros */
    position: relative; /* para poder posicionar el boton de mas abajo entre las dos secciones */
    display: flex;
    flex-direction: column; /* muestra en forma de columna todos los elementos hijos */
    justify-content: center; /* centra el contenido de arriba hacia abajo */
    width: 100%;
    min-width: 320px;
    height: 334px;
    /* text-align: center; */ /* centra SOLO lo que es texto */
    /* align-items: center; */ /* centra los elementos pero no justifica el texto al centro */
    /* text-align: center; */
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%); ;
}

header img{
/* 1.Posit */
    width: 150px;
    height: 24px;
    margin-top: 60px;
    align-self: center;/* cuando el elemento padre ya esta aplicando un centrado hay que usar el align-self para ser mas espesifico y forzar el centrado de este elemento */
/* 2.Tipogra */
/* 3.box-m */
/* 4.visual */
/* 5.Otros */
}

.header--title-container{
/* 1.Position */
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: /* 218px; */ auto;
    margin-top: 40px;
    /* margin: 0 auto; */
    text-align: center;
    align-self: center;
/* 2.Typography */
    
/* 3.box-model */
/* 4.visual styles */
/* 5.Otros */ 
}

.header--title-container h1{
/* 1.Position */
    
/* 2.Typography */
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
/* 3.box-model */
/* 4.visual styles */
/* 5.Otros */
}

.header--title-container p{
    /* 1.Position */
    /* 2.Typography */
        font-size: 1.4rem;
        font-weight: 500;
        line-height: 1.8rem;
    /* 3.box-model */
        margin-top: 25px;
    /* 4.visual styles */
        color: var(--soft-orange);
    /* 5.Otros */ 
    }