
.main-product-detail .cards{
    display: flex;
    flex-wrap: wrap;
    
}

.main-product-detail
{
    max-width: 900px;
    margin: 0 auto;
}

.main-table-container
{
    display: flex;
    flex-wrap: wrap;
}
.main-exchange-container .main-table-container .currency-table-container
{
    margin: 40px auto;
}