
/*########################################*/

.s{
    width: 100%;
    height: 25vh;
    min-width: 320px;
    margin: 0 auto;

}
.uno{
    background-color: #f7931a;
    max-width: 1024px;
}

.dos{
    background-color: brown;
    text-align: center;
    max-width: 900px;
}
.dos p{
    width: 90%;
    background-color: ghostwhite;
    margin: 0  auto;
}
.tres{
    background-color: cornflowerblue;
    max-width: 600px;
}
.cuatro{
    background-color: deeppink;
    max-width: 300px;
}
/*############################## test 2 #######################*/
.table-container{
    width: 300px;
    height: 400px;
    background-color: #f7931a;
    position: relative;
}

table{
    width: 80%;
    padding: 5px;
    background-color: #ffe9d5;
    border-radius: 5px;
    position: absolute;
    top: 20px;
    left: calc( 50% - 120px);

}

table td{
    width: 50%;
    border: 1px solid black;
  }

.ul{
    border-radius: 5px 0 0 0;
}
.ur{
    border-radius: 0 5px 0 0;
}
.dl{
    border-radius: 0 0 0 5px;
}
.dr{
    border-radius: 0 0 5px 0;
}